In [23]:
import pandas as pd
import sqlite3
import requests
from bs4 import BeautifulSoup

csv_df=pd.read_csv('Iris.csv')
print("CSV Data:")
print(csv_df.head())
excel_df=pd.read_excel('exported_data.xlsx')
print("\nExcel Data:")
excel_df.head(5)

CSV Data:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Excel Data:

,Location,Population,% of world,Date,Source (official or from the United Nations),Notes
0,World,8232000000,100%,13 Jun 2025,UN projection[1][3],NaN
1,India,1413324000,NaN,1 Mar 2025,Official projection[4],[b]
2,China,1408280000,NaN,31 Dec 2024,Official estimate[5],[c]
3,United States,340110988,NaN,1 Jul 2024,Official estimate[6],[d]
4,Indonesia,282477584,NaN,30 Jun 2024,National annual projection[7],NaN

In [18]:
import sqlite3
conn=sqlite3.connect('my_database.db')
cursor=conn.cursor()
cursor.execute('''
               CREATE TABLE IF NOT EXISTS employees(
                   id INTEGER PRIMARY KEY,
                   name TEXT,
                   department TEXT,
                   salary REAL,
                   hire_date TEXT
               )
               ''')
cursor.executemany('''
            INSERT INTO employees (id, name, department, salary, hire_date) VALUES (?, ?, ?, ?, ?)
            ''',[
                    (1,'Alice Smith','HR',55000,'2018-05-01'),
                    (2,'Bob Johnson','IT',72000,'2019-07-15'),
                    (3,'Carol White','Finance',68000,'2017-09-30'),
                    (4,'David Brown','Marketing',60000,'2020-02-10'),
                    (5,'Eva Green','IT',75000,'2021-04-25')
])
conn.commit()
print("Database and 'employees' table created with sample data.")

sql_df=pd.read_sql_query("SELECT * FROM employees",conn)
print(sql_df)

Database and 'employees' table created with sample data.
   id         name department   salary   hire_date
0   1  Alice Smith         HR  55000.0  2018-05-01
1   2  Bob Johnson         IT  72000.0  2019-07-15
2   3  Carol White    Finance  68000.0  2017-09-30
3   4  David Brown  Marketing  60000.0  2020-02-10
4   5    Eva Green         IT  75000.0  2021-04-25

In [20]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
response=requests.get(url)
soup=BeautifulSoup(response.content,"html.parser")
html_table=soup.find("table",{"class":"wikitable"})
web_df=pd.read_html(str(html_table))[0]
print("\nWeb Scraped Data:")
print(web_df.head())

Web Scraped Data:
        Location  Population % of world         Date  \
0          World  8232000000       100%  13 Jun 2025
1          India  1413324000        NaN   1 Mar 2025
2          China  1408280000        NaN  31 Dec 2024
3  United States   340110988        NaN   1 Jul 2024
4      Indonesia   282477584        NaN  30 Jun 2024

  Source (official or from the United Nations) Notes
0                          UN projection[1][3]   NaN
1                       Official projection[4]   [b]
2                         Official estimate[5]   [c]
3                         Official estimate[6]   [d]
4                National annual projection[7]   NaN

In [22]:
if 'date' in web_df.columns:
    web_df['date']=pd.to_datetime(web_df['date'])
web_df.to_excel('exported_data.xlsx',index=False)
print("\nData exported to 'exported_data.xlsx' successfully.")

Data exported to 'exported_data.xlsx' successfully.